@media (min-aspect-ratio:1/1){
	.game-description{
		width: 80%;
	}

	.game-descirption-body{
		padding: 5% 15%;
	}

	.game-descirption-body p,.primary-infos p{
	font-size: 1.3vmax;
	}

	.primary-infos{
		display: flex;
		padding-left: 5%;
		padding-right: 5%;
	    justify-content: space-around;
	    align-items: center;
	    width: 100%;
	}

	.primary-infos p{
		max-width: 60%;
		/*width: 40%;
    	text-align: center;*/
	}
}

@media (max-aspect-ratio:1/1){
	.game-description{
		width: 90%;
	}

	.game-descirption-body{
		padding: 5% 2.5%;
	}

	.game-descirption-body p,.primary-infos p{
		font-size: 1.8vmax;
	}

	.primary-infos{
		display: flex;
		flex-direction: column;
	    justify-content: center;
		align-items: center;
	    width: 100%;
	}

	.primary-infos p{
		width: 100%;
    	text-align: center;
	}
}


.primary-infos{
	background-color : #DDAFF5;
	border-radius: 20px;
	color: #0e0e0e;
}

.game-description{
	overflow-y: scroll;
	position: fixed;

	top:50%;
	left:50%;

	height: 80%;
	
	background: rgba(87,55,105,0.92);
	border-radius: 10px;

	transform: translate(-50%, -50%) scale(0);
	transition: 300ms ease-in-out;

	z-index: 10;
}

.game-description.active {
	transform: translate(-50%, -50%) scale(1);
}

.description-content{
	color: #f5f5f5;
	padding: 2vmax 3vmax;
}

.game-description-header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding-bottom: 2vmax;
	border-bottom: 0.5vmax solid #f5f5f5;
}

.game-description-title{
	font-size: 3vmax;
	font-weight: bold;
	margin:0;
	margin-right: 6vmax;
	text-transform: uppercase;
}

.close-button{
	position: relative;
	height: 4vmax;
	width: 4vmax;

	background: #f5f5f5;

	border: none;
	border-radius: 25%;

	padding: 0.5vmax;
	
	text-align: center;
	font-size: 2.6vmax;
	font-weight: bold;

	display: inline-block;
	cursor: pointer;

	transition: all 50ms ease-out;
}

.close-button:hover{
	background: grey;
	transform: scale(1.1);
	transition: all 50ms ease-out;
}

.game-descirption-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-descirption-body iframe{
	width: 100%;
	height: 400px;
}

#overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9;

	opacity: 0;
	transition: 200ms ease-in-out;

	pointer-events: none;
	
}

#overlay.active{
	opacity: 1;
	pointer-events: all;
}



/*--------SLIDESHOW------------*/
.w3-display-container{
	position: relative;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slideshowImagesContainer{
	position: relative;
	border: 0.5vmax solid #f5f5f5;
	width: 50.5vw;
	height: 28vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;

}

.button-container button{
	opacity: 0.8;
	width: 3vw;
	font-size: 1.8vmax;
	font-weight:bold;
	border-style: none;
	background-color: white;
	transition: 0.3s ease-out;
}

.button-container button:hover{
	background-color: grey;
}

.button-container button:active{
	background-color: black;
}

.mySlides1, .mySlides2, .mySlides3, .slidesGame4, .slidesGame5, .mySlides6, .mySlides7{
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: #f5f5f5;
}

.iframe-container{
  position: relative;
  width: 100%;
  margin-top: 4vmax;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}