@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One");
/* font-family: 'Julius Sans One', sans-serif; */ 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */
/* change font-weight to have Black or Regular */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('slideshow.css');
@import url('navbar.css');
@import url('homecontent.css');
@import url('gamepopin.css');
@import url('gamescontent.css');
@import url('aboutcontent.css');
@import url('background.css');
@import url('footer.css');

html{
	scroll-behavior: smooth;
}

body  {
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
}


						/* Contenu de la page */
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.page-content{
	display: flex;
	flex-direction: column;

	position: relative;
}

#ACCUEIL, #JEUX, #A-PROPOS{
	position: relative;
}

#ACCUEIL{
	top:-1vh;
}

#JEUX {
	top: 15vh;
}

#A-PROPOS{
	top: 30vh;
}

@media (max-aspect-ratio: 1/1){
	#A-PROPOS{
		top:45vh;
	}
}
