.w3-display-container{
	margin-bottom: 10px;
	width: 100%;

}

.button-container{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}


.mySlides1 .mySlides2 .mySlides3 {
	display:none;
}